<div class="container">
	<div class="row">
    <div class="col-md-12">
      <h4>Comentarios</h4>
      <div class="table-responsive">
				<table id="forumTable" class="table table-bordred table-striped">
          <thead>
            <tr>
              <th class="cell-stat text-center hidden-sm">Busqueda: <%= searchText %></th>
              <th class="cell-stat text-center hidden-xs hidden-sm">Encontrado: <%= comments.length %></th>
            </tr>
          </thead>
				</table>
				<% if (comments.length > 0) {  %>
        <table id="forumTable" class="table table-bordred table-striped">
          <thead>
            <tr>
              <th class="cell-stat text-center hidden-sm">Texto</th>
              <th class="cell-stat text-center hidden-xs hidden-sm">Fecha de Registro</th>
            </tr>
          </thead>
          <tbody>
						<% var j = 0 %>
            <% var i; for (i=0; i < comments.length; i++) { %>
              <tr>
                <td><a href="/forum/1/topics/<%= comments[i].Topic.id %>/comments/details" data-id="name">
									<%= comments[i].Topic.titulo %></a>
									<p><%= comments[i].texto %></p>
								</td>
                <td class="text-center hidden-xs hidden-sm"><p></p><p><%= moment(comments[i].createdAt).format(DateFormat) %></p></td>
              </tr>
							<tr>
								<td>
									<% j++ %>
									<% if ( mod(j,3)) { %>
											<table class="table forum table-striped">
												<tbody>
													<tr>
														<td><img src="/img/gadsg.gif"></td>
														<td><img src="/img/gadsp.gif"></td>
													</tr>
												</tbody>
											</table>
									<%}%>
								</td>
							</tr>
            <% } %>
          </tbody>
        </table>
				<% } %>
      </div>
    </div>
  </div>
</div>
