<table class="table forum table-striped">
  <tbody>
    <tr>
      <td class="cell-stat text-center hidden-xs hidden-sm">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x"></i>
        </span>
      </td>
      <td class="cell-stat text-center hidden-xs hidden-sm">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x"></i>
        </span>
      </td>
      <td class="cell-stat text-center hidden-xs hidden-sm">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-google-plus fa-stack-1x"></i>
        </span>
      </td>
      <td class="cell-stat text-center hidden-xs hidden-sm">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-instagram fa-stack-1x"></i>
        </span>
      </td>
      <td class="cell-stat text-center hidden-xs hidden-sm">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-whatsapp fa-stack-1x"></i>
        </span>
      </td>
      <td class="cell-stat text-center hidden-xs hidden-sm">
        <center>
          <small>
            <p><%= moment(forum.Topics[i].createdAt).format(DateFormat) %></p>
            <p>
              <span class="glyphicon glyphicon-user">
                <a href="#"><%= forum.Topics[i].User.nick %></a>
              </span>
            </p>
          </small>
        </center>
      </td>
      <td class="cell-stat text-center hidden-xs hidden-sm">
        <center>
          <small>
          <p><%= forum.Topics[i].detailCount %></p>
          <p><span>Replies</span></p>
          </small>
        </center>
      </div>
      <td class="cell-stat text-center hidden-xs hidden-sm">
        <center>
          <small>
          <p><%= forum.Topics[i].detailCount %></p>
          <p><span>Visitas</span></p>
          </small>
        </center>
      </td>
      <td class="cell-stat text-center hidden-xs hidden-sm">
        <center>
          <small>
          <p><%= forum.Topics[i].detailCount %></p>
          <p><span>She ha'a</span></p>
          </small>
        </center>
      </td>
    </tr>
  <tbody>
</table>
