<section class="article-ls-st">
  <h6>Estado</h6>
  <div class="article-sb">
  <span class="fa-stack fa-lg">
    <i class="fa fa-square-o fa-stack-2x"></i>
    <i class="fa fa-twitter fa-stack-1x"></i>
  </span>
</div>
  <div class="article-sb">
  <span class="fa-stack fa-lg">
    <i class="fa fa-square-o fa-stack-2x"></i>
    <i class="fa fa-facebook fa-stack-1x"></i>
  </span>
</div>
  <div class="article-sb">
  <span class="fa-stack fa-lg">
    <i class="fa fa-square-o fa-stack-2x"></i>
    <i class="fa fa-google-plus fa-stack-1x"></i>
  </span>
</div>
  <div class="article-sb">
  <span class="fa-stack fa-lg">
    <i class="fa fa-square-o fa-stack-2x"></i>
    <i class="fa fa-instagram fa-stack-1x"></i>
  </span>
</div>
  <div class="article-sb">
  <span class="fa-stack fa-lg">
    <i class="fa fa-square-o fa-stack-2x"></i>
    <i class="fa fa-whatsapp fa-stack-1x"></i>
  </span>
</div>
  <div class="article-ss">
    <center>
  <p><small><%= topic.Comments[i].createdAt %></small></p>
    <span class="glyphicon glyphicon-user">
      <p>
      <span>by <a href="#"><%= topic.Comments[i].User.nick %></a></span>
      </p>
    </span>
    </center>
  </div>
  <div class="article-ss">
    <center>
  <p><small><%= topic.Comments[i].updatedAt %></small></p>
    <span class="glyphicon glyphicon-share-alt">
  <p>
      <span>XXXX</span>
    </p>
    </span>
    </center>
  </div>
  <div class="article-ss">
    <center>
  <p><small><%= topic.Comments[i].detailCount %></small></p>
    <p><span>Replies</span></p>
    </center>
  </div>
  <div class="article-ss">
    <center>
  <p><small><%= topic.Comments[i].detailCount %></small></p>
    <p><span>Visitas</span></p>
    </center>
  </div>
  <div class="article-ss">
    <center>
  <p><small><%= topic.Comments[i].detailCount %></small></p>
    <p><span>She ha'a</span></p>
    </center>
  </div>
</section>
