<div class="container">
	<div class="row">
    <div class="col-md-12">
      <h4>Foros</h4>
      <div class="table-responsive">
        <table id="forumTable" class="table table-bordred table-striped">
          <thead>
            <tr>
              <th class="cell-stat text-center hidden-sm">Nombre</th>
							<th class="cell-stat text-center hidden-sm">Descripción</th>
              <th class="cell-stat text-center hidden-xs hidden-sm">Creación</th>
              <th class="cell-stat text-center hidden-xs hidden-sm"># Topicos</th>
              <th class="cell-stat text-center hidden-xs hidden-sm">Categoria</th>
            </tr>
          </thead>
          <tbody>
            <% var i; for (i=0; i < forums.length; i++) { %>
							<% if (forums[i].status === 'A') {%></td>
              <tr>
                <td><a href="/forum/<%= forums[i].id %>/topics" data-id="name"><%= forums[i].name %></a></td>
								<td class="hidden-xs hidden-sm"><%= forums[i].description %></td>
                <td class="hidden-xs hidden-sm"><%= forums[i].createdAt %></td>
                <td class="hidden-xs hidden-sm"><%= forums[i].topicCount %></td>
                <td class="hidden-xs hidden-sm" data-id="category"><%= forums[i].category %></td>
              </tr>
							<% } %>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>
<ul class="pagination pull-right">
  <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
  <li class="active"><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
</ul>
<div class="modal fade" id="forumEditModal" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
        <h4 class="modal-title custom_align" id="Heading">Edit Forum</h4>
      </div>
      <div class="modal-body edit-content">
        <div class="form-group">
          <form id="forumCreateForm" method="post" action="/forum" >
            <div class="form-group">
                <label for="name" class="control-label">Nombre</label>
                <input type="text" class="form-control" id="name" name="name" required="true" title="Ingrese nombre del Foro" placeholder="<nombre del foro>" value="">
                <span class="help-block"></span>
            </div>
            <div class="form-group">
                <label for="status" class="control-label">Estado</label>
                <input type="text" class="form-control" id="status" name="status" required="true" title="Ingrese el Estado del Foro">
                <span class="help-block"></span>
            </div>
            <div class="form-group">
                <label for="category" class="control-label">Categoria</label>
                <input type="text" class="form-control" id="category" name="category" required="true" title="Ingrese categoria del Foro">
                <span class="help-block"></span>
            </div>
            <button type="submit" name="commit" value="Form" class="btn btn-success btn-block">Crear Foro</button>
          </form>
          <form id="forumUpdateForm" method="post" action="/forum/id" >
            <input type="hidden" name="_method" value="put">
            <button type="submit" name="commit" value="Form" class="btn btn-success btn-block">Editar Foro</button>
          </form>
          <form id="forumDeleteForm" method="post" action="/forum/id">
            <input type="hidden" name="_method" value="delete">
            <button type="submit" value="Form" class="btn btn-success btn-block" onClick="return confirm('Borrar Foro: name');">
              Borrar Foro
            </button>
          </form>
        </div>
      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-warning btn-lg" style="width: 100%;">
          <span class="glyphicon glyphicon-ok-sign"></span>
          Update
        </button>
      </div>
    </div>
  <!-- /.modal-content -->
  </div>
<!-- /.modal-dialog -->
</div>

<div class="modal fade" id="forumDeleteModal" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger">
          <span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?
        </div>
      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<script>
$('#forumEditModal').on('show.bs.modal', function(e) {
  var id = $(e.relatedTarget).data('id');
  var name = $(e.relatedTarget).data('name');
  var status = $(e.relatedTarget).data('status');
  var category = $(e.relatedTarget).data('category');

  $(e.currentTarget).find('input[name="id"]').val(id);
  $(e.currentTarget).find('input[name="name"]').val(name);
  $(e.currentTarget).find('input[name="status"]').val(status);
  $(e.currentTarget).find('input[name="category"]').val(category);

  /*

  $("#id").val(id);
  $("#name").val(name);
  $("#status").val(status);
  $("#category").val(category);
    var $modal = $(this).data('id','nombre','status','category');
        esseyId = e.relatedTarget.id,
      $(".modal-body #name").val( e.relatedTarget.name );
      $(".modal-body #status").val( e.relatedTarget.status );
      $(".modal-body #category").val( e.relatedTarget.category );
*/
    $.ajax({
        cache: false,
        type: 'POST',
        url: '/forum/' + essayId,
        data: 'EID=' + essayId,
        success: function(data) {
            $modal.find('.edit-content').html(data);
        }
    });
})
/*
$('#forumEditModal').on('show.bs.modal', function(e) {
  $(".modal-body .form-group #name").val( $("name").val());
  $(".modal-body #status").val( $("status").val());
  $(".modal-body #category").val( $("category").val());
});
*/
</script>
